@model List<Menu>

<h1>Lista de Platillos</h1>

@if (Model.Count == 0) {
    <p>No hay menus registrados</p>
}

<ul class="list">
@foreach (var item in Model)
{
    <li>@item.Nombre</li>
    <li><img src="@item.Foto"></li>
    <li>@item.Descripcion</li>
    <li>@item.Precio</li>
}
</ul>