@model List<Menu>
<div class="containerM">
    <div class="containerP">
        <h1>Nuestros Platos</h1>
    </div>          


@if (Model.Count == 0) {
    <p>No hay menus registrados</p>
}
<div class="cont">
    

@foreach (var item in Model)
{
<div class="menP">
        <img  width="250px" height="175px" src="@item.Foto" alt="">
        <h4>@item.Nombre</h4>
        <div class="orange"></div>
        <h5>s/. @item.Precio </h5>
</div>
}
</div>
</div>