@model List<Categoria>

<h1>Lista de de Categorias del Menu</h1>

@if (Model.Count == 0) {
    <p>No hay menus registrados</p>
}

<ul class="list">
@foreach (var item in Model)
{
    <a asp-action="Menuxcateg" asp-route-id="@item.Id">@item.Nombre</a>
}
</ul>