@{
    ViewData["Title"] = "Resto-Bar";
}

<h1 class="text-center my-5">El Mejor Resto-Bar del Perú</h1>


<p> El dragó es tu sala de estar, comedor o terraza. Celebramos la comida y su diversidad como familia, especialmente la cocina casera peruana, preparada por nuestras madres y abuelas.</p>