   
    
<div class="containerM">
    <div class="containerP">
        <h1>Quienes Somos?</h1>
    </div>
    <img src="https://www.homerisp.com/wp-content/uploads/2019/09/591aa93710d09.jpeg" width="50%" height="450">
    <div style="margin-top: 50px;" class="divin">
            <h1>Nuestra Historia</h1>
            <p>Cuando encendimos por primera vez los fogones de "El Dragon", en 2004, no solo nos propusimos hacer un gran restaurante. Queríamos conocer mejor este país inmenso, hermoso y diverso llamado Perú; y que nuestra cocina fuera el testimonio de este aprendizaje. Viajamos por todas las regiones. Nos internamos en la selva amazónica y nos enamoramos de sus productos hermosos y desconocidos. Recorrimos los Andes y estrechamos lazos con sus laboriosas comunidades. Visitamos los innumerables valles del desierto costero y también nos adentramos en su mar riquísimo. Estos viajes nos han enseñado, inspirado y permitido crear una cocina espontánea y diversa, donde los productos son la verdadera sorpresa. Nuestra cocina es una muestra de lo mejor de este país. Amamos lo artesanal. Trabajamos con productos de temporada. Agricultores, cooperativas, comunidades indígenas, pescadores y artesanos de todas las regiones nos abastecen cada día de productos frescos, sanos y sabrosos. Ahora queremos compartir con ustedes esta magia.</p>
    </div>       
</div>
