@model List<Reserva>

<h1>Lista de Reservas</h1>

@if (Model.Count == 0) {
    <p>No hay Reservas registradas</p>
}

<ul class="list">
@foreach (var item in Model)
{
    <li>@item.CantidadPersonas</li>
    <li>@item.FechayHora</li>
    <li>@item.NumerodeMesa</li>
    <li>@item.DNI</li>
}
</ul>