<h1>Upsss Fecha y Hora ya reservadas...</h1>

<p>Por favor, realiza nuevamente el registro y modifica estos campos</p>
<div>
    <button><a href="~/Reserva/Registro">Realizar Registro</a></button>
</div>