/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #FFF3D8;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.barra{
  height: 100px;
  width: 100%;
  background-color:black;
  border-bottom: 2px solid orange;
  display: flex;


}
.img1{
  border: solid orange 2px;
  border-top: none;
  width:160px;
  height: 160px;
  margin-left:200px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.bar1{
  list-style-type: None;
  padding: 0;
  overflow: hidden;
  margin-left: 30%;
  margin-top: 15px;

}
.li1{
  float:left;
  

}
.li1 a{
  margin:5px;
  display: block;
  width: 150px;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;

}
.li1 a:hover{

  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
}
.divcar{
  background-image: url("http://www.elfrente.com.co/repositorio_imagenes/EL_FRENTE_02019010001012004012_11.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}
.divcar2{
  width: 700px;
  height: 700px;
  background-color: black;
  opacity: 0.8;
  color: white;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 25px;

  

}
.divcarB{
  background-image: url("http://www.elfrente.com.co/repositorio_imagenes/EL_FRENTE_02019010001012004012_11.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}
.footer{
  width: 100%;
  height: 50px;
  color: black;
  border-top:2px solid orange;
  background-color: black;

}
.containerP{
  margin-top: 100px;
  width: 80%;
  color: Black;
  padding-left: 40px;
  font-family: 'Open Sans';
  font-size: 7px;
  background-color: orange;
  border-radius: 10px;
  margin-left: 50px;
  border: 4px solid black;
  margin-bottom: 20px;
}
.containerP h1{
  color: black;
  text-shadow: #e0e0e0 1px 1px 0;
}
.containerM{
  margin: 20px 50px 50px ;
}
.divin{
  float: right;
  width:50%;
  padding-left: 100px;
  padding-top: 50px;
  padding-right: 110px;
}
.menP{
  height: 350px;
  width: 250px;
  margin-right: 200px;
  margin-bottom:50px;
  color: black;
  font-family: 'Open Sans';
  font-size: 18px;
 text-align: center;
  background-color: white;
  -webkit-box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.27);
-moz-box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.27);
box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.27);

}
.cont{
  display: flex;
  flex-wrap: wrap;
}
.orange{
  border-top: 1px solid orange;
  width: 200px;
  height: 100px;
  margin-left: 20px;
}